h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: underline;
    margin-top: 22px;
    margin-bottom: 36px;
}

h3 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.caja {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 50px;
}

.enunciado {
    font-size: 1.2em;
    background-color: lightsalmon;
    font-weight: bold;
}

.solucion {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em; 
}

.center {
    text-align: center;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}